.theme-beach{
    --app-background-image: url('/backgrounds/the-beach.jpg');
    --global-shadow-color: hsl(192, 97%, 14%, 52.7%);

    //logo
    --logo-fill-background-arrow: hsl(192, 94%, 22%, 50%);
    --logo-fill-foreground-arrow: hsl(192, 94%, 22%);
    --logo-fill-plus: hsl(0, 0%, 100%);
    --logo-transition-delay: .2s;

    //settings menu
    --settings-toggle-color: hsl(48, 100%, 50%, 90%);
    --settings-menu-shadow: 0px 1px 60px var(--global-shadow-color);
    --settings-menu-background-color: hsla(18, 97%, 51%, 0.80);
    --settings-menu-transition-delay: .2s;

    //main container
    --main-container-background-color: unset;
    --main-container-text-color: hsl(0, 0%, 0%);

    //hr theme
    --hr-background-color: hsl(192, 94%, 32%, 40%);
    --hr-height: 1px;
    --hr-transition-delay: .2s;

    //main headings
    --main-heading-color: hsl(39, 100%, 60%);
    --main-heading-text-shadow: 0px 1px 14px var(--global-shadow-color);
    --main-subheading-stroke-width: 0;
    --main-subheading-outline-color: hsl(18, 97%, 51%, 0);
    --main-subheading-color: hsl(0, 0%, 100%);
    --main-subheading-date-stroke-width: 0;
    --main-subheading-date-outline-color: hsl(22, 8%, 85%);
    --main-subheading-date-color: hsl(31, 100%, 83%);
    --main-subheading-text-shadow: 0px 1px 14px var(--global-shadow-color);
    --main-heading-transition-delay: .2s;
    --main-subheading-transition-delay: .2s;

    //window theme
    --window-background-color-1: hsla(46, 72%, 58%, 0.599);
    --window-background-color-2: hsl(192, 94%, 32%, 40%);
    --window-backdrop-filter: blur(10px) sepia(50%);
    --window-box-shadow: 0px 0px 80px 10px var(--global-shadow-color);
    --window-border: none;
    --window-border-radius: 10px;
    --window-transition-delay: .2s;
    --window-decal-image: url('/beach-umbrella.png');
    --window-decal-width: clamp(100px, 20vw, 250px);
    --window-decal-height: clamp(100px, 20vw, 250px);
    --window-decal-top: clamp(-90px, -10vw, 0px);
    --window-decal-left: clamp(-90px, -10vw, 0px);


    //speakers-setup
    --speakers-header-heading-color: hsl(202, 96%, 21%);
    --speakers-header-heading-transition-delay: .4s;
    --speakers-header-background: hsl(188, 72%, 42%, 44%);
    --speaker-setup-text-color: hsla(202, 98%, 16%, 0.9);
    --speakers-header-transition-delay: .6s;

    //toggle button theme
    --toggle-label-background-color: hsl(187, 95%, 36%, 70%);
    --toggle-check-background-color: hsl(102, 66%, 40%);
    --toggle-unchecked-background-color: hsl(9, 99%, 42%);
    --toggle-icon-color: hsl(22, 8%, 86%);
    --toggle-transition-delay: .7s;

    //button theme
    --button-bg: hsl(45, 69%, 58%);
    --button-bg-hover: hsl(46, 72%, 88%);
    --button-border-color: hsl(18, 97%, 51%);
    --button-border-color-hover: hsl(18, 97%, 41%);
    --button-border-width: 3px;
    --button-border-style: solid;
    --button-border-radius: 10px;
    --button-text-color: hsl(18, 97%, 31%);
    --button-text-color-hover: hsl(18, 97%, 41%);
    --button-text-decoration: none;
    --button-text-decoration-hover: none;
    --button-transition-delay: unset;
    --button-box-shadow: none;

    //speakers names
    --bigname-color: hsl(36, 100%, 50%);
    --bigname-transition-delay: .7s;
    --bigname-stroke-width: 3px;
    --bigname-outline-color: hsl(0, 0%, 100%);
    --bigname-text-shadow: 0px 4px 14px hsl(50, 100%, 50%);

    --ice-breaker-color: hsl(198, 56%, 23%);
    --ice-breaker-transition-delay: 1.3s;
    --ice-breaker-stroke-width: 0;
    --ice-breaker-outline-color: hsl(48, 95%, 37%);
    --ice-breaker-text-shadow: 0px 0px 14px hsl(190, 70%, 43%);

    --on-deck-color: hsl(202, 97%, 15%, 40%);
    --on-deck-transition-delay: 1s;
    --on-deck-stroke-width: none;
    --on-deck-outline-color: none;
    --on-deck-text-shadow: 0px 1px 14px var(--global-shadow-color);

    //quotes
    --quote-color: hsla(20, 82%, 2%, 0.684);
    --quote-text-shadow: 0px 1px 14px var(--global-shadow-color);
    --quote-stroke-width: 0;
    --quote-outline-color: unset;

    --author-color: hsl(0, 0%, 100%);
    --author-text-shadow: 0px 1px 14px var(--global-shadow-color);
    --author-stroke-width: 0;
    --author-outline-color: unset;

    //weather widget
    --weather-stroke-width: 0;
    --weather-outline-color: none;
    --weather-color: hsl(0, 0%, 100%);
    --weather-text-shadow: 0px 1px 14px var(--global-shadow-color);

    //fortune cookie
    --fortune-background-color: hsl(200, 62%, 60%, 70%);
    --fortune-text-color: hsl(0, 0%, 100%);
    --fortune-close-color: hsl(0, 0%, 100%);
    --fortune-cookie-background-color: hsl(23, 100%, 50%);
    --fortune-cookie-shadow-color: hsl(23, 100%, 30%);
    --fortune-cookie-dropshadow-color: rgba(11, 42, 77, 0.627);
}
