.theme-space{
    --global-shadow-color: rgba(0, 0, 0, 0.527);

    //logo
    --logo-fill-background-arrow: rgba(255, 255, 255, 0.5);
    --logo-fill-foreground-arrow: hsl(0, 0%, 100%);
    --logo-fill-plus: hsl(43, 77%, 71%);
    --logo-transition-delay: .2s;

    //settings menu
    --settings-toggle-color: hsl(0, 0%, 100%);
    --settings-menu-shadow: 0px 1px 14px var(--global-shadow-color);
    --settings-menu-background-color: hsl(0, 0%, 0%, 70%);
    --settings-menu-transition-delay: .2s;

    //main container
    --main-container-background-color: hsl(0, 0%, 0%, 0);
    --main-container-text-color: hsl(0, 0%, 100%);

    //hr theme
    --hr-background-color: rgba(53, 53, 53, 0.4);
    --hr-height: 1px;
    --hr-transition-delay: .2s;

    //main headings
    --main-heading-color: hsl(0, 0%, 100%);
    --main-heading-text-shadow: 0px 1px 14px var(--global-shadow-color);
    --main-subheading-stroke-width: 0;
    --main-subheading-outline-color: hsla(18, 97%, 51%, 0);
    --main-subheading-color: hsl(22, 8%, 85%, 70%);
    --main-subheading-date-stroke-width: 0;
    --main-subheading-date-outline-color: hsla(0, 0%, 71%, 0);
    --main-subheading-date-color: hsl(58, 99%, 60%);
    --main-subheading-text-shadow: 0px 1px 14px var(--global-shadow-color);
    --main-heading-transition-delay: .2s;
    --main-subheading-transition-delay: .2s;

    //window theme
    --window-background-color-1: hsla(311, 100%, 26%, 0.4);
    --window-background-color-2: hsla(208, 88%, 26%, 0.4);
    --window-backdrop-filter: blur(4px);
    --window-box-shadow: 0px 0px 40px 10px var(--global-shadow-color);
    --window-border: none;
    --window-border-radius: 10px;
    --window-transition-delay: .2s;
    --window-decal-image: url('../assets/rocket.png');
    --window-decal-width: 300px;
    --window-decal-height: 300px;
    --window-decal-top: -120px;
    --window-decal-left: -140px;

    //speakers-setup
    --speakers-header-heading-color: hsl(0, 0%, 100%);
    --speakers-header-heading-transition-delay: .4s;
    --speakers-header-background: hsla(0, 0%, 45%, 0.4);
    --speaker-setup-text-color: hsla(0, 0%, 100%, 0.9);
    --speakers-header-transition-delay: .6s;

    //toggle button theme
    --toggle-label-background-color: hsla(0, 0%, 0%, 0.323);
    --toggle-check-background-color: hsl(102, 72%, 39%);
    --toggle-unchecked-background-color: hsl(360, 97%, 36%);
    --toggle-icon-color: hsla(22, 8%, 86%);
    --toggle-transition-delay: .7s;

    //button theme
    --button-bg: hsla(0, 0%, 0%, 0);
    --button-bg-hover: hsl(46, 72%, 88%);
    --button-border-color: hsl(299, 100%, 56%);
    --button-border-color-hover: hsl(299, 100%, 66%);
    --button-border-width: 1px;
    --button-border-style: solid;
    --button-border-radius: 10px;
    --button-text-color: hsl(299, 100%, 56%);
    --button-text-color-hover: hsl(299, 100%, 66%);
    --button-text-decoration: none;
    --button-text-decoration-hover: none;
    --button-transition-delay: unset;
    --button-box-shadow: 0px 0px 40px 10px var(--global-shadow-color);


    //speakers names
    --bigname-color: hsl(0, 0%, 100%);
    --bigname-transition-delay: .7s;

    --on-deck-color: hsl(312, 95%, 84%);
    --on-deck-transition-delay: 1s;

    --ice-breaker-color: hsla(181, 100%, 52%, 0.93);
    --ice-breaker-transition-delay: 1.3s;
    
    //quotes
    --quote-color: hsl(0, 0%, 100%);
    --quote-text-shadow: 0px 1px 14px var(--global-shadow-color);
    --quote-stroke-width: 0;
    --quote-outline-color: unset;

    --author-color: hsla(0, 0%, 100%, 0.735);
    --author-text-shadow: 0px 1px 14px var(--global-shadow-color);
    --author-stroke-width: 0;
    --author-outline-color: unset;

    //weather widget
    --weather-stroke-width: 0;
    --weather-outline-color: none;
    --weather-color: hsl(0, 0%, 100%);
    --weather-text-shadow: 0px 1px 14px var(--global-shadow-color);
}
