.logo{
    position: absolute;
    top: 20px;
    left: 20px;
    display: grid;

    z-index: 11;

    .logo-button{
        cursor: pointer;
        place-items: center;
    }

    svg{
        width: 70px;
        height: 70px;
        display: block;
    }

    .logo-0{
        fill: var(--logo-fill-background-arrow);
        transform: var(--logo-transition-delay);
    }

    .logo-1{
        fill: var(--logo-fill-foreground-arrow);
        transform: var(--logo-transition-delay);
    }

    .logo-2{
        fill: var(--logo-fill-plus);
        transform: var(--logo-transition-delay);
    }
}