.logo{
    position: absolute;
    top: clamp(5px, 3vw, 20px);
    left: clamp(5px, 3vw, 20px);
    display: grid;

    z-index: 11;

    .logo-button{
        cursor: pointer;
        place-items: center;
    }

    svg{
        width: clamp(40px, 5vw, 70px);
        height: clamp(40px, 5vw, 70px);
        display: block;
    }

    .logo-0{
        fill: var(--logo-fill-background-arrow);
        transform: var(--logo-transition-delay);
    }

    .logo-1{
        fill: var(--logo-fill-foreground-arrow);
        transform: var(--logo-transition-delay);
    }

    .logo-2{
        fill: var(--logo-fill-plus);
        transform: var(--logo-transition-delay);
    }
}