@use '../global/_typography' as *;

.settings-menu{
    @extend .paragraph--1;
    min-width: 260px;
    background: var(--settings-menu-background-color);
    border-left: var(--settings-menu-border);
    border-bottom: var(--settings-menu-border);
    border-bottom-left-radius: 8px;
    box-shadow: var(--settings-menu-shadow);
    color: white;
    position: absolute;
    top: 0;
    right: -600px;
    z-index: 10;
    transition: all 1s ease;
    backdrop-filter: blur(4px);

    &.visible{
        right: 0;
    }

    input[type="number"]{
        cursor: pointer;
    }

    ul{
        display: grid;
        gap: 20px;
        li{
            @extend .settings-controls;

            &.inline-form,
            &.buttons{
                display: inline-flex;
                align-items: center;
                gap: 10px;
            }

            &.toggle-form{
                margin-left: -15px;
            }
        }

        li ul{
            list-style-type: none;
            margin-left: 20px;
            margin-top: 10px;
            display: grid;
            gap: 5px;

            span{
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                justify-content: start;
                gap: 10px;

                &::before{
                    content: '';
                    width: 4px;
                    height: 4px;
                    display: block;
                    border-radius: 100%;
                    background: transparent;
                    position: relative;
                }

                &.active{
                    &::before{
                        content: '';
                        background-color: #fff;
                    }
                    pointer-events: none;
                    font-weight: bold;
                }

                &:hover{
                    text-decoration: underline;
                    &.active{
                        text-decoration: none;
                    }
                }
            }
        }
    }

    button{
        @extend .settings-controls;
    }
}