.speaker-input-group{
    display: grid;
    align-items: center;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 30px;
    width: 100%;
    gap: 5px;

    .toggle {
        position: relative;
        display: grid;
        scale: .6;
    
        label {
            display: inline-block;
            width: 112px;
            height: 48px;
            background: var(--toggle-label-background-color);
            border-radius: 50px;
            position: relative;
            transition: all .3s var(--animation-curve);
            transition-delay: var(--toggle-transition-delay);
            transform-origin: 20% center;
            cursor: pointer;
    
            &:before {
                display: block;
                width: 36.8em;
                height: 36.8em;
                top: 4px;
                left: 4px;
                border-radius: 32px;
                border: 2px solid blue;
            }
        }
    
        label:before {
            content: none;
        }
        .check {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            position: absolute;
            transition: all 1s ease;
            background: var(--toggle-check-background-color);
            top: 4.5px;
            left: 4.5px;
            
            &:before, &:after {
                content: '';
                position: absolute;
            }
    
            &:before, &:after {
                transition: background 1s var(--animation-curve);
                transition-delay: var(--toggle-transition-delay);
                height: 4px;
                border-radius: 10px;
                background: var(--toggle-icon-color);
            }
            &:before {
                width: 25px;
                transform: rotate(-45deg) translate(-6px, 20px);
            }
            &:after {
                width: 10px;
                transform: rotate(45deg) translate(20px, 11px);
            }
        }
        input {
            height: 40px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 40px;
        }
    
        input:checked + label {
            .check {
                left: 68px;
                transform: rotate(360deg);
                background: var(--toggle-unchecked-background-color);
                &:before {
                    width: 27px;
                    transform: rotate(-45deg) translate(-8px, 18px);
            
                }
                &:after {
                    width: 27px;
                    transform: rotate(45deg) translate(18px, 8px);
                }
            }
        }
    }

    .toggle-speaker-name{
        display: inline-flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        text-shadow: var(--toggle-speaker-name-text-shadow);
    }
    // .role{
    //     display: grid;
    //     place-items: center;
    //     transition: background 1s var(--animation-curve);
    //     background: red;
    //     border-radius: 100%;
    //     font-size: .4em;
    //     line-height: .4em;
    //     text-transform: uppercase;
    //     width: 30px;
    //     height: 30px;
    //     font-weight: 700;

    //     &.im{
    //         background-color: orange;
    //     }

    //     &.dev{
    //         background-color: blue;
    //         color: white;
    //     }
    // }
}